{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %} 
    
<div class="container" align="center">
     <div id="content">
         <div class="row">
		<div class="col-sm-2">
 <div class='beta-about-person'>
<h3 class="beta-active-tab">Qu'est ce que ce vous vouler faire? </h3>
<ul class="list-unstyled beta-active-tab">
    <li style="text-align: left;"><a href='{{ path('fos_user_profile_show') }}'>Mes informations</a></li>
    <li style="text-align: left;"><a href='{{ path('fos_user_profile_edit') }}'>Editer mes informations</a></li>
    <li style="text-align: left;"><a href='{{ path('fos_user_profile_edit') }}'>Editer mes informations</a></li>
    <li style="text-align: left;"><a href='{{ path('fos_user_change_password') }}'>Changer mon mot de passe</a></li>
    <li style="text-align: left;"><a href=''>Mes adresses</a></li>
    <li style="text-align: left;"><a href='{{ path('fos_user_security_logout') }}'>Deconexion</a></li>
</ul>
                    </div>
                 </div>
             <div class="col-sm-10">
                   
<div class="table-responsive">
    
      <h1>Produits creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('adminProduits') }}">
            Back to the list
        </a>
    </li>
</ul>
             </div> 
        </div>
        
       
    </div>
 </div>
 
</div>
</div>
    {% endblock %}


 
