{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
 <div class="container" align="center">
     <div id="content">
         <div class="row">
		<div class="col-sm-4">
                    <h3 class="navbar">Nous Vous invites a vous a inscrire</h3>        
                    
                    <br />
                 <div class="form-block">
                     <a href="{{ path('fos_user_registration_register') }}"> 
                         <input type="submit" id="_submit" class="beta-btn primary" value="{{ 'registration.submit'|trans }}"  />
                     </a>     
                 </div>  
                     
                    
                </div>
             <div class="col-sm-8">
         <h3 class="navbar">Sign In</h3>
        <form class="beta-form-checkout" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-block">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div class="form-block">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input style="width: 100%;border: 1px solid #E1E1E1;height: 37px;padding: 0px 12px;margin-bottom: 5px;width: 60%;overflow: hidden;" type="password" id="password" name="_password" required="required" />
        </div>
        
        <div class="form-block">
            <label for="remember_me">&nbsp;</label> 
          
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="beta-btn primary" />
        </div>
        </form>
         </div>
    </div>
 </div>
{% endblock fos_user_content %}

